@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Inter";
  src:
    url("/static/fonts/Inter-Regular.woff2") format("woff2"),
    url("/static/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src:
    url("/static/fonts/Inter-Light.woff2") format("woff2"),
    url("/static/fonts/Inter-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src:
    url("/static/fonts/Inter-Italic.woff2") format("woff2"),
    url("/static/fonts/Inter-Italic.woff") format("woff");
  font-weight: italic;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src:
    url("/static/fonts/Inter-Bold.woff2") format("woff2"),
    url("/static/fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "Inter";
  src:
    url("/static/fonts/Inter-BoldItalic.woff2") format("woff2"),
    url("/static/fonts/Inter-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Libre Baskerville";
  src:
    local("Libre Baskerville"),
    url("/static/fonts/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Libre Baskerville";
  src:
    local("Libre Baskerville"),
    url("/static/fonts/LibreBaskerville-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Libre Baskerville";
  src:
    local("Libre Baskerville"),
    url("/static/fonts/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "IBMPlexMono";
  src:
    local("IBMPlexMono"),
    url("/static/fonts/IBMPlexMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "IBMPlexMono";
  src:
    local("IBMPlexMono"),
    url("/static/fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexMono";
  src:
    local("IBMPlexMono"),
    url("/static/fonts/IBMPlexMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "IBMPlexMono";
  src:
    local("IBMPlexMono"),
    url("/static/fonts/IBMPlexMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "IBMPlexMono";
  src:
    local("IBMPlexMono"),
    url("/static/fonts/IBMPlexMono-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexMono";
  src:
    local("IBMPlexMono"),
    url("/static/fonts/IBMPlexMono-LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* You can override the default Infima variables here. */
:root {

  --ifm-color-white: #ffffff;
  --ifm-color-black: #000000;

  --ifm-color-gray-0: var(--ifm-color-white);
  --ifm-color-gray-100: #f5f6f7;
  --ifm-color-gray-200: #ebedf0;
  --ifm-color-gray-300: #dadde1;
  --ifm-color-gray-400: #ccd0d5;
  --ifm-color-gray-500: #bec3c9;
  --ifm-color-gray-600: #8d949e;
  --ifm-color-gray-700: #606770;
  --ifm-color-gray-800: #444950;
  --ifm-color-gray-900: #1c1e21;


  --ifm-color-primary-contrast-background:  #c8ebff;
  --ifm-color-primary-lightest:             #a7d4ef;
  --ifm-color-primary-lighter:              #89bedf;
  --ifm-color-primary-light:                #70aacf;
  --ifm-color-primary:                      #5a97bf;
  --ifm-color-primary-dark:                 #3a769f;
  --ifm-color-primary-darker:               #265b80;
  --ifm-color-primary-darkest:              #194260;
  --ifm-color-primary-contrast-foreground:  #0f2c40;

  --ifm-color-secondary-contrast-background:  #fffff2;
  --ifm-color-secondary-lightest:             #f9f8e8;
  --ifm-color-secondary-lighter:              #f2f2dd;
  --ifm-color-secondary-light:                #e4e4cd;
  --ifm-color-secondary-dark:                 #d6d6bd;
  --ifm-color-secondary-darker:               #a4a48d;
  --ifm-color-secondary-darkest:              #58584c;
  --ifm-color-secondary-contrast-foreground:  #0a0a09;


  --ifm-color-success-contrast-background:    #fbfffa;
  --ifm-color-success-lightest:               #d3eccd;
  --ifm-color-success-lighter:                #aed8a5;
  --ifm-color-success-light:                  #8ec584;
  --ifm-color-success:                        #71b266;
  --ifm-color-success-dark:                   #478b3d;
  --ifm-color-success-darker:                 #2b6423;
  --ifm-color-success-darkest:                #173e13;
  --ifm-color-success-contrast-foreground:    #081706;

  --ifm-color-warning-contrast-background:    #ffedd6;
  --ifm-color-warning-lightest:               #efc284;
  --ifm-color-warning-lighter:                #df9c3c;
  --ifm-color-warning-light:                  #cf7d05;
  --ifm-color-warning:                        #be7300;
  --ifm-color-warning-dark:                   #9e6200;
  --ifm-color-warning-darker:                 #7e4f00;
  --ifm-color-warning-darkest:                #5d3b00;
  --ifm-color-warning-contrast-foreground:    #3d2700;

  --ifm-color-danger-contrast-background:     #ffebef;
  --ifm-color-danger-lightest:                #f3bdc9;
  --ifm-color-danger-lighter:                 #e692a5;
  --ifm-color-danger-light:                   #da6f86;
  --ifm-color-danger:                         #ce506a;
  --ifm-color-danger-dark:                    #b5263f;
  --ifm-color-danger-darker:                  #9c0f21;
  --ifm-color-danger-darkest:                 #84040c;
  --ifm-color-danger-contrast-foreground:     #6b0000;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: #00000030;
  --custom-footer-bg: #5c5f63;
}

[data-theme='dark'] {
  --ifm-color-primary-contrast-background:  #edfeff;
  --ifm-color-primary-lightest:             #c7ebef;
  --ifm-color-primary-lighter:              #a5d9de;
  --ifm-color-primary-light:                #88c8ce;
  --ifm-color-primary:                      #6db7be;
  --ifm-color-primary-dark:                 #48969d;
  --ifm-color-primary-darker:               #30767c;
  --ifm-color-primary-darkest:              #1f565b;
  --ifm-color-primary-contrast-foreground:  #13373b;
  --docusaurus-highlighted-code-line-bg: #00000050;
  --custom-footer-bg: #303236;
}


.footer--dark {
  background-color: var(--custom-footer-bg);
}
