.heroBanner {
  height: 300px;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #FCFBF8;
  background-image: url(/img/statetree.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
